*{
    background-color: black;
}



.banner{
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align: center;
}


h1 {
    text-transform: uppercase;
}


.banner-img{
    border: solid white 5px;
    width: 100%;
}